/* Note: use absolute URLS. Wkhtmltopdf does not work with relative urls on the same server (why?) */

@font-face{
    font-family: Red-October;
    font-weight: normal;
    src: url(https://brevet.omskvelo.ru/diploma/static/triathlon/fonts/Red-October-Fat.ttf)
}

* {
    font-family: Red-October;
    font-size: 20pt;
    margin:0;
}

body{
    height:100%;
}

.logo-top{
    margin-top: 4em;
    width: 60%;
    margin-bottom: 0.5em;
}

.logo-bottom{
    width: 40%;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 72pt;
    margin-bottom: 0.8em;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 42pt;
    margin-bottom: 0.1em;
}

h3 {
    text-align: center;
    font-weight: normal;
    font-size: 32pt;
    margin-bottom: 0.8em;
}

.multi-name {
    text-align: center;
    font-weight: normal;
    margin: 0.1em;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
    margin-left: 1em;
}

.info-top{
    text-align: center;
    color: #706f6f;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.7em;
}

.info-mid{
    text-align: center;
    color:#000;
    background-color: #cccccc;
    margin: 0;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.category{
    margin-bottom: 3em;
}

.category-multiline{
    margin-bottom: 1em;
}

footer{
    text-align: center;
    margin-top: 3.5em;
}

footer.multiline{
    text-align: center;
    margin-top: 2.5em;
}