<!DOCTYPE html>
<!-- Note: use absolute URLS. Wkhtmltopdf does not work with relative urls on the same server (why?) -->
<!-- Note: Wkhtmltopdf does not support CSS Grid and Flexbox -->
<html>
<head>
    <meta name="pdfkit-page-size" content="A4"/>
    <meta name="pdfkit-orientation" content="Portrait"/>
    <title>{{ result.name }}</title>
    <link rel="stylesheet" href="https://brevet.omskvelo.ru/diploma/static/triathlon/css/style.css">
</head>

<body>
    <div class="info-top">
        <img class="logo-top" src="https://brevet.omskvelo.ru/diploma/static/triathlon/img/ftr.png">
        <h2>{{ result.event }}</h2>
        <h4>{{ result.event_detail }}</h4>
    </div>
    <div class="info-mid">
        <h1>ДИПЛОМ</h1>

        {% if result.names | length > 1 %}
            {% for name in result.names %}
                <h3 class="multi-name">{{ name }}</h3>
            {% endfor %}
        {% else %}
            <h2>{{ result.names.0 }}</h2>
        {% endif %}

        <h2>{{ result.place }} место</h2>

        {% if result.names | length > 1 %}
            <h3 class="category-multiline">Категория: {{ result.category }}</h3>
        {% else %}
            <h3 class="category">Категория: {{ result.category }}</h3>
        {% endif %}
        
        <p>Дистанция: {{ result.distance}}</p>
        <p>Время: {{ result.result }}</p>
    </div>
    <footer{% if result.names | length > 1 %} class="multiline" {% endif %}>
        <img class="logo-bottom" src="https://brevet.omskvelo.ru/diploma/static/triathlon/img/3omsk.png">
        <h3>2024</h3>
    </footer>
</body>

</html>